.browse-page {
  padding: 20px;
  margin-bottom: 5rem;

  &__title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    padding: 1rem;
  }

  &__error-message {
    color: red;
  }

  .container {
    .row {
      margin-bottom: 20px;

      .col-md-4 {
        .product-card {
          background-color: #fff;
          border: 1px solid #ddd;
          padding: 15px;
          transition: transform 0.2s ease;

          &:hover {
            transform: translateY(-5px);
          }

          &__image {
            max-width: 100%;
            height: auto;
          }

          &__body {
            padding: 10px;
          }

          &__title {
            font-size: 18px;
            margin-bottom: 5px;
          }

          &__price {
            font-weight: bold;
            color: #3023c7;
            margin-bottom: 5px;
          }

          &__category {
            font-size: 14px;
            color: #6c757d;
          }

          &__actions {
            text-align: center;

            &__btn {
              background-color: #bd262b;
              color: #fff;
              border: none;
              padding: 5px 10px;
              cursor: pointer;
              transition: background-color 0.2s ease;

              &:hover {
                background-color: #0056b3;
              }

              &--buy {
                margin-top: 10px;
                background-color: #bd262b;
              }

              &--buy {
                margin-top: 10px;
                background-color: #3023c7;
              }
            }
          }
        }
      }
    }

    .pagination {
      margin-top: 20px;

      button {
        background-color: #3023c7;
        color: #fff;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        transition: background-color 0.2s ease;

        &:hover {
          background-color: #595f63;
        }
      }
    }
  }
}
