.browse-page {
  padding: 20px;
  margin-bottom: 5rem;

  &__title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
  }

  &__error-message {
    color: red;
  }

  .container {
    .row {
      margin-bottom: 20px;

      .col-md-4 {
        .product-card {
          background-color: #fff;
          border: 1px solid #fff;
          padding: 15px;
          transition: transform 0.2s ease;

          &:hover {
            transform: translateY(-5px);
          }

          &__image,
          &__body {
            padding: 10px;
          }

          &__title {
            font-size: 18px;
            margin-bottom: 5px;
          }

          &__price {
            font-weight: bold;
            color: #3023c7;
            margin-bottom: 5px;
          }

          &__category {
            font-size: 14px;
            color: #16191e;
          }

          &__actions {
            text-align: center;
          }
        }
      }
    }

    .col-md-4 {
      .product-card__actions {
        .product-card__btn {
          background-color: #ad0000;
          color: #fff;
          transition: background-color 0.2s ease;
          margin: 0 10px;

          &:hover {
            background-color: #750000;
          }
        }
      }
    }

    .pagination {
      margin-top: 20px;
    }
  }

  .btn-pagination {
    background-color: #3023c7;
    padding: 10px 20px;
    color: #fff;
    margin: 0 10px;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: #1d157a;
    }
  }
}

@media (max-width: 768px) {
  .browse-page {
    padding: 0;
  }

  .browse-page .container .row .col-md-4 .product-card {
    padding: 0;
  }

  .col-md-4 {
    .product-card__actions {
      .product-card__btn {
        background-color: #0078d4;
        margin: 0 1rem;
        font-size: 14px;
      }
    }

    .pagination {
      margin-top: 10px;
    }

    &::after {
      content: "";
      display: table;
      clear: both;
    }
  }

  .browse-page .btn-pagination {
    padding: 8px 10px;
    color: #fff;
    font-size: 14px;
    margin: 0 10px;
    transition: background-color 0.2s ease;
  }
}
