.category {
  &__label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    text-align: center;
  }

  &__select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #16191e;
    border-radius: 4px;
    font-size: 1rem;
    text-align: center;

    @media (min-width: 768px) {
      font-size: 1.2rem;
      padding: 0.75rem;
    }
  }
}
