.product-details-custom {
  &__col {
    margin-bottom: 20px;
  }

  &__image {
    max-width: 100%;
    height: auto;
  }

  &__title {
    font-size: 1.5rem;
    margin-top: 0;
  }

  &__info {
    margin: 0;
  }

  &__category-list {
    list-style: none;
    padding: 0;
  }
}
