.checkout {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  margin-top: 2rem;
  margin-bottom: 10rem;

  &__items {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  &__section {
    margin-bottom: 2rem;
  }

  &__title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  &__field {
    margin-bottom: 1rem;

    & label {
      display: block;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    & input {
      width: 100%;
      padding: 0.5rem;
      font-size: 1rem;
      border: 1px solid #ccc;
      border-radius: 0.25rem;
    }

    @media (max-width: 768px) {
      margin-top: 4rem;
      margin-bottom: 4rem;
    }
  }

  &__button {
    display: block;
    padding: 0.75rem 1rem;
    font-size: 1.2rem;
    background-color: #bd262b;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;

    &:hover {
      background-color: #a21f24;
      color: #fff;
    }
  }

  @media (max-width: 768px) {
    padding: 0.5rem;
    &__field {
      margin-bottom: 0.75rem;
    }
    &__button {
      margin-top: 1rem;
    }
  }
}

.modal {
  max-width: 600px;
  margin: 0 auto;
  margin-left: auto;

  &-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  &-body {
    font-size: 1.2rem;
  }

  &-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
}

.error {
  color: red;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}
